@import '../variables';

.toDo {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../assets/mountains.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  // background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 80%;

  @media only screen and (max-width: $bp-big) {
    width: 90%;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr 1fr;
  }
}

.form {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );

  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: flex-start;
  align-content: center;
  gap: 1rem;
  padding: 0 1rem;

  @media only screen and (max-width: $bp-small) {
    padding: 0 1rem;
    grid-column: 1 / -1;
  }
}

.taskList {
  height: 85vh;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5rem;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / -1;
    padding-top: 0rem;
  }
}

.errorMessage {
  min-height: 2rem;
  color: var(--color-primary-pink);

  @include font-style(1.2rem, var(--font-extraLight), 2.2rem, 2.3px, none);

  @media only screen and (max-width: $bp-largest) {
    @include font-style(1rem, var(--font-extraLight), 1.75rem, 2px, 0);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

.button {
  align-self: flex-start;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}

h2 {
  grid-column: 1 / -1;
  color: #ffff;
  clip-path: polygon(4% 0, 100% 0%, 95% 100%, 0% 100%);
  padding: 3px 5px;
  text-align: center;
  justify-self: center;
  min-width: 100%;
  transform: translateY(2rem);

  @include font-style(4rem, var(--font-extraLight), 4.5rem, 2px, none);

  @media only screen and (max-width: $bp-largest) {
    @include font-style(3rem, var(--font-extraLight), 3.625rem, 2px, none);
  }

  @media only screen and (max-width: $bp-big) {
    padding-right: 0;
    @include font-style(2rem, var(--font-extraLight), 2.5rem, 1.5px, none);
  }

  @media only screen and (max-width: $bp-small) {
    @include font-style(1.4rem, var(--font-extraLight), 2.5rem, 1.5px, none);
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    padding: 0 5px;
    text-align: center;
  }

  background-image: linear-gradient(
    to right bottom,
    rgba(#373b44, 0.9),
    rgba(#2a5298, 0.9)
  );
}
